[submodule "Chapter7/source_repos/rdchiral"]
	path = Chapter7/source_repos/rdchiral
	url = https://github.com/connorcoley/rdchiral.git
[submodule "Chapter7/source_repos/rxnmapper"]
	path = Chapter7/source_repos/rxnmapper
	url = https://github.com/rxn4chemistry/rxnmapper.git
[submodule "Chapter7/source_repos/gln"]
	path = Chapter7/source_repos/gln
	url = https://github.com/Hanjun-Dai/GLN.git
[submodule "Chapter7/source_repos/LocalRetro"]
	path = Chapter7/source_repos/LocalRetro
	url = https://github.com/kaist-amsg/LocalRetro.git
[submodule "Chapter7/source_repos/graphretro"]
	path = Chapter7/source_repos/graphretro
	url = https://github.com/vsomnath/graphretro.git
[submodule "Chapter7/source_repos/Graph2Edits"]
	path = Chapter7/source_repos/Graph2Edits
	url = https://github.com/Jamson-Zhong/Graph2Edits.git
[submodule "Chapter7/source_repos/megan"]
	path = Chapter7/source_repos/megan
	url = https://github.com/molecule-one/megan.git
[submodule "Chapter7/source_repos/LocalTransform"]
	path = Chapter7/source_repos/LocalTransform
	url = https://github.com/kaist-amsg/LocalTransform.git
[submodule "Chapter7/source_repos/rexgen_direct"]
	path = Chapter7/source_repos/rexgen_direct
	url = https://github.com/connorcoley/rexgen_direct.git
[submodule "Chapter7/source_repos/torchdrug"]
	path = Chapter7/source_repos/torchdrug
	url = https://github.com/DeepGraphLearning/torchdrug.git
[submodule "Chapter7/source_repos/reaction-gcnn"]
	path = Chapter7/source_repos/reaction-gcnn
	url = https://github.com/slryou41/reaction-gcnn.git
[submodule "Chapter7/source_repos/reaction_yield_nn"]
	path = Chapter7/source_repos/reaction_yield_nn
	url = https://github.com/seokhokang/reaction_yield_nn.git
[submodule "Chapter3/source_repos/InteractionGraphNet"]
	path = Chapter3/source_repos/InteractionGraphNet
	url = https://github.com/zjujdj/InteractionGraphNet.git
[submodule "Chapter3/source_repos/PIGNet"]
	path = Chapter3/source_repos/PIGNet
	url = https://github.com/ACE-KAIST/PIGNet.git
[submodule "Chapter3/source_repos/RTMScore"]
	path = Chapter3/source_repos/RTMScore
	url = https://github.com/sc8668/RTMScore.git
[submodule "Chapter3/source_repos/DiffDock"]
	path = Chapter3/source_repos/DiffDock
	url = https://github.com/gcorso/DiffDock.git
[submodule "Chapter3/source_repos/KarmaDock"]
	path = Chapter3/source_repos/KarmaDock
	url = https://github.com/schrojunzhang/KarmaDock.git
[submodule "Chapter3/source_repos/TankBind"]
	path = Chapter3/source_repos/TankBind
	url = https://github.com/luwei0917/TankBind.git
[submodule "Chapter3/source_repos/CarsiDock"]
	path = Chapter3/source_repos/CarsiDock
	url = https://github.com/carbonsilicon-ai/CarsiDock.git
[submodule "Chapter3/source_repos/MetalloDock"]
	path = Chapter3/source_repos/MetalloDock
	url = https://github.com/SII-ZhangHui/MetalloDock.git
[submodule "Chapter3/source_repos/FlexPose"]
	path = Chapter3/source_repos/FlexPose
	url = https://github.com/tiejundong/FlexPose.git
[submodule "Chapter3/source_repos/CarsiInduce"]
	path = Chapter3/source_repos/CarsiInduce
	url = https://github.com/xqh19970407/CarsiInduce.git
[submodule "Chapter3/source_repos/DynamicBind"]
	path = Chapter3/source_repos/DynamicBind
	url = https://github.com/luwei0917/DynamicBind.git
[submodule "Chapter3/source_repos/DiffDock-Pocket"]
	path = Chapter3/source_repos/DiffDock-Pocket
	url = https://github.com/plainerman/DiffDock-Pocket.git
[submodule "Chapter3/source_repos/GrASP"]
	path = Chapter3/source_repos/GrASP
	url = https://github.com/tiwarylab/GrASP.git
